<div class="container">
    <header class="d-flex  py-3">
        <div class="navbar-header">
            <a href="#" class="navbar-brand" style="font-size: 30px;">StickerIO</a>
        </div>
        <ul class="nav nav-pills justify-content-center">
            <li class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"><a routerLink="" class="nav-link active">Create a Sticker</a></li>
            <li class="nav-item" routerLinkActive="active"><a routerLink="/how-to-use" class="nav-link">How to use</a></li>
            <li class="nav-item" routerLinkActive="active"><a routerLink="/gallery" class="nav-link" (click)="checkLogin()" >Gallery</a></li>
            <li class="nav-item" routerLinkActive="active"><a routerLink="/about" class="nav-link">About</a></li>
        </ul>

<!-- data-toggle="modal" data-target="#GSCCModal" -->
        

<div id="GSCCModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
 <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;  </button>
        <h4 class="modal-title" id="myModalLabel" style="align-content: center;"></h4>
      </div>
      <div class="modal-body">
        <h4 style="text-align: center;">:C</h4>
        <h4 style="text-align: center;">To have access to the gallery, you must be logged in</h4>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>



        <div class="dropdown" style="margin-left: auto; margin-right: 0px;">
            <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              My Account
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
              <a class="dropdown-item" routerLink="/gallery">My Gallery</a>
              <a class="dropdown-item" routerLink="/login">Login</a>
            </div>
          </div>
    </header>
</div>